<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head', { title: `YouTube statistics for ${name}`
    }) %>
    <link rel="stylesheet" href="/ess/odometer.css" />
    <script src="/ess/odometer.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
    </style>
  </head>
  <body class="bg-[#1b1b1b] text-white">
    <%- include('../../partials/navbar') %>
    <main class="m-4 text-center">
      <div class="flex flex-col items-center bg-black p-4">
        <img
          src="<%= `https://www.banner.yt/${id}?width=1240` %>"
          class="aspect-video h-40 w-0 rounded-lg object-cover sm:w-full"
        />
        <img
          src="<%= `https://www.banner.yt/${id}/avatar` %>"
          class="absolute top-[108px] h-40 rounded-full"
        />
        <h1 class="mt-2 text-3xl"><%= name %></h1>
        <div class="mt-1 flex flex-row justify-center">
          <img src="/public/youtube.png" class="mr-1 mt-[1.2px]" width="20" />
          <h2 class="text-sm"><%= handle %></h2>
        </div>
        <span
          id="<%= counts[count][0] %>"
          class="odometer font-['Roboto'] text-7xl leading-[1.05em] sm:text-7xl md:text-[5.5rem] lg:text-8xl xl:text-9xl"
          >0</span
        >
        <p class="mt-2 text-sm"><%= counts[count][1] %></p>
      </div>
      <div class="mt-4 grid grid-cols-1 gap-3 lg:grid-cols-3">
        <!-- prettier-ignore -->
        <% counts.filter((_, index) => index !== count).forEach((count) => { %>
        <a
          class="bg-black p-4 hover:scale-105"
          href="?count=<%= counts.findIndex((c) => c[0] === count[0]) %>"
        >
          <span
            id="<%= count[0] %>"
            class="odometer font-['Roboto'] text-5xl leading-[1.05em] xl:text-6xl"
          >
            0
          </span>
          <h1 class="text-sm"><%= count[1] %></h1>
        </a>
        <% }); %>
      </div>
      <div class="mt-4 flex flex-col items-center bg-black p-4">
        <div id="chart" class="w-full"></div>
      </div>
    </main>
  </body>
  <script>
    const lineColor = "#858585";
    const chart = new Highcharts.chart({
      chart: {
        renderTo: "chart",
        type: "line",
        zoomType: "x",
        backgroundColor: "transparent",
        plotBorderColor: "transparent",
        animation: true,
      },
      title: {
        text: "",
      },
      xAxis: {
        type: "datetime",
        tickPixelInterval: 500,
        labels: {
          style: {
            color: lineColor,
          },
        },
        gridLineColor: lineColor,
        lineColor: lineColor,
        minorGridLineColor: "#858585",
        tickColor: lineColor,
        title: {
          style: {
            color: lineColor,
          },
        },
      },
      yAxis: {
        title: {
          text: "",
        },
        labels: {
          style: {
            color: lineColor,
          },
        },
        gridLineColor: lineColor,
        lineColor: lineColor,
        minorGridLineColor: "#858585",
        tickColor: lineColor,
      },
      credits: {
        enabled: true,
        text: "Livecounts.tk",
        href: "https://livecounts.tk",
      },
      tooltip: {
        shared: true,
        formatter: function () {
          var index = this.points[0].series.xData.indexOf(this.x);
          var lastY = this.points[0].series.yData[index - 1];
          var dif = this.y - lastY;
          var r =
            Highcharts.dateFormat("%A %b %e, %H:%M:%S", new Date(this.x)) +
            '<br><span style="color:black">\u25CF </span>' +
            this.points[0].series.name +
            ": <b>" +
            Highcharts.numberFormat(this.y, 0);
          if (dif < 0) {
            r +=
              '<span style="color:#ff0000;font-weight:bold;"> (' +
              Highcharts.numberFormat(dif, 0) +
              ")</span>";
          }
          if (dif > 0) {
            r +=
              '<span style="color:#00bb00;font-weight:bold;"> (+' +
              Highcharts.numberFormat(dif, 0) +
              ")</span>";
          }
          return r;
        },
      },
      series: [
        {
          showInLegend: false,
          name: "<%= name %>",
          marker: { enabled: false },
          color: "#f00",
          backgroundColor: "white",
          lineWidth: 3,
        },
      ],
    });

    setInterval(() => {
      fetch("/api/youtube/channel/stats/<%= id %>")
        .then((res) => res.json())
        .then((data) => {
          document.getElementById("subscribers").textContent =
            data.counts.subscribers;
          document.getElementById("views").textContent = data.counts.views;
          document.getElementById("videos").textContent = data.counts.videos;
          document.getElementById("goal").textContent = data.counts.goal;

          if (chart.series[0].points.length === 3600)
            chart.series[0].data[0].remove();
          chart.series[0].addPoint([
            Date.now(),
            Object.entries(data.counts)[parseInt("<%= count %>")][1],
          ]);
        });
    }, 2000);
  </script>
</html>
